*{
    margin: 0;
    padding: 0;
}


.flex{
    display: flex;
}
.container{
    display: flex;
}
.rightbox{
    width: 50%;
}
.leftbox{
    width: 50%;
}
.p{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.skill {
    width: 100%;
    background-color: #ddd;
  }
  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-size: 2px;
  }
  .react {width: 95%; background-color: #0C78FF;}
  .node {width: 90%; background-color: #0C78FF;}
  .python {width: 99%; background-color: #0C78FF;}
  .aws {width: 93%; background-color: #0C78FF;}